@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body{
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    font-family: "Outfit", serif;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
}
img{
    border-radius: 10vw;
}
h1{
    font-size: 3vw;
}
h2{
    color: hsl(212, 8%, 57%);
    font-size: 2.2vw;
}
li{
    list-style: none;
    border: 0.15vw solid black;
    border-radius: 1.5vh;
    text-align: center;
    margin-right: 3.6vh;
    display: block;
    margin-top: 1vh;
}
a{
    width: 40vh;
    text-decoration: none;
    color: hsl(216, 4%, 25%);
    font-size: 1.8vw;
    font-weight: 400;
    vertical-align: middle;
    margin-right: 2vw;
}
.ib-disp{
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    display:inline-block;
    padding: 1vw;
    margin-right: 5vw;
    border: 0.3vw solid black;
    border-radius: 1vw;
    justify-content: center;
}

.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.5vw;
    box-shadow: 0 10px 40px hsl(220, 15%, 55%);
    padding: 4%;
    top: 25%;
    text-align: center;
    width: 37.5vw;
}